/* SASS variables */
$main-color: black;
$secondary-color: #0e8aa5;

// Table borders
$top-round: 10px 0 0 10px;
$bottom-round: 0 10px 10px 0;

h1 {
    color: $secondary-color;
}

* {
    font-family: arial;
}

p {
    text-align: justify;
    text-indent: 20px;
}

:not(p) + p{
    text-indent: 0px;
}

// Round table borders
tbody tr td:first-child{
    border-radius: $top-round;
}

tbody tr td:last-child{
    border-radius: $bottom-round;
}

tbody tr td {
    text-align: justify; 
    color: $main-color;
    padding-right: 10px;
    padding-top: 5px;
}

tbody tr:nth-of-type(odd){
    background: $secondary-color;
}

